@import "reset";
@import "responsive";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

.App {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  .container {
    width: 480px;
    margin: auto;
    padding: 20px;
    background: rgba(deepskyblue, 0.2);
    box-shadow: 1px 2px 4px rgba(black, 0.7);
    @include responsive(540px) {
      width: 100%;
    }
  }
  @import "./components/Coin";
  @import "./components/Dice";
  @import "./components/DiceCube";
  @import "./components/Numbers";

  @import "./components/Menu";

  @import "./components/Spinner";
}
